* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* ############################

            Modal Styling

   ###########################*/

body {
    background: url(img/bg-waldo.jpg)no-repeat center center/ cover;
    height: 100vh;
    position: relative;
}

.header {
    position: absolute;
    top: 10%;
    left: 45%;
    z-index: 2;
    background-color: #fff;
    border: 3px solid blue;
    color: red;
    border-radius: 10px;
    padding: 8px 20px;
}

#help-btn {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 350px;
    font-size: 2rem;
    background: transparent;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 3px black;
    transition: .5s;
    z-index: 2;
}

#help-btn:hover {
    background-color: #fff;
    color: #000;
}

/* Modal Help Container */

#modal-help {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    background-color: #fff;
}

.img-help-1 {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 10%;
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 1.2rem;
    z-index: 2;
}

.modal-icon {
    font-size: 5rem;
    color: red;
    z-index: 2;
}

.modal-text {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 1.5em;
}

#modal-btn {
    width: 175px;
    font-size: 1rem;
    background: #fff;
    color: red;
    border: solid 2px red;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 3px black;
    transition: .5s;
    z-index: 2;
}

#modal-btn:hover {
    border: solid 2px blue;
    color: blue;
}

/* #modal {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    animation-name: animatemodal;
    animation-duration: .4s;
} */

/* Modal Animation Section */

/* @keyframes animatemodal {
    from {
        top:-300px;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
} */